.idea
.vscode
node_modules
coverage
build
tmp
temp
dist
.env
.env.dev
.env.production
.env.staging
.env.test
logs
*.log
*.tmp
*.temp
static
ormconfig.json
swagger-spec.json
documentation
.pgdata
.npm-cache
package-lock.json
